.App {
  text-align: center;
}

.main-content {
  margin: 5% 20% 5% 20%;
  width: 80%;
}

.page-header {
  background-color: white !important;
  border: 1px solid rgb(235, 237, 240);
}

.page-footer {
  border-top: 1px solid #e8e8e8;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}

.ant-table-wrapper {
  box-shadow: 2px 2px #f4f4f4;
  border: 1px solid #f4f4f4;
}

.delete-btn {
  color: #ff4d4f !important;
}

.delete-btn:hover {
  color: #1890ff !important;
}

#add-btn {
  margin-bottom: 16px;
  border-radius: 5%;
}

#name-label {
  color: #1890ff;
}
